.secUst {
    position: relative;
    height: 34em;
    margin-top: 0;
    background: url('../img/iletisimUst.jpg') no-repeat center;
    background-size: cover;
    /*background-color: #3b3b46;*/

    z-index: 1;
    /*border:1px solid red;*/
}

.divUstBack {
    position: relative;
    width: 100%;
}

    .divUstBack img {
        width: 100%;
    }


.divUstContainer {
    position: relative;
    width: 100%;
    height: 100%;
    margin: auto;
    /*border:1px solid red;*/
}

.divLang {
    position: absolute;
    display: none;
    width: 3em;
    height: 4em;
    top: 2.0em;
    right: -4em;
    text-align: center;
    /*border:1px solid red;*/
}

    .divLang div {
        position: relative;
        width: 100%;
        height: 2.0em;
        cursor: pointer;
    }

        .divLang div span {
            font-family: 'Montserrat Regular',Helvetica,sans-serif;
            font-size: 1.2em;
            color: white;
        }

.divRoyal {
    position: relative;
    display: none;
    width: 7em;
    height: 2em;
    margin: 1em auto 0 auto;
    /*border:1px solid red;*/
}

    .divRoyal img {
        width: 100%;
    }

.divSayfaBaslik {
    position: relative;
    width: 20em;
    height: auto;
    margin: 6em auto 0 auto;
    /*border:1px solid red;*/
}

    .divSayfaBaslik span {
        position: relative;
        display: block;
        font-family: 'Kalam Bold', Helvetica, sans-serif;
        font-size: 4em;
        color: white;
        text-align: center;
    }

.divTear {
    position: absolute;
    min-width: 0;
    /*min-height: 245px;*/

    width: 100%;
    height: 3em;
    bottom: -2.5em;
    left: 50%;
    transform: translateX(-50%);
}

    .divTear img {
        height: 100%;
        width: 100%;
    }




.secIletisim {
    position: relative;
    min-height: auto;
    /*border:1px solid red;*/
}



.divContainer {
    position: relative;
    max-width: 100%;
    width: 100%;
    min-height: auto;
    margin: 6em auto 0 auto;
    padding-bottom: 2em;
    background-color: white;
    box-shadow: 0 0 0.8em 0.4em rgba(0, 0, 0, 0.2);
    /*border:1px solid red;*/
}
/*
.divTarif:first-of-type{
    margin-top: 0;
}*/

.divBaslik {
    position: relative;
    /*margin-top: 1em;*/

    padding: 1em;
    text-align: left;
    /*border:1px solid red;*/
}

    .divBaslik span {
        position: relative;
        /*margin-left:1em;*/

        font-family: 'Kalam Bold', Helvetica, sans-serif;
        font-size: 3.6em;
        /*color:white;*/
    }

.divTarifContent {
    position: relative;
}


.divText {
    position: relative;
    margin-top: 1em;
    margin-bottom: 4em;
    padding: 1em;
}

    .divText span {
        position: relative;
        display: block;
        font-family: 'Dosis SemiBold',Helvetica,sans-serif;
        font-size: 2.4em;
    }

        .divText span:nth-child(3) {
            margin-top: 1em;
        }

    .divText p {
        position: relative;
        display: block;
        margin: 0;
        font-family: 'Dosis Regular',Helvetica,sans-serif;
        font-size: 2.2em;
        line-height: 1.2em;
    }
